<div class="w-full">
  <img
    src="TopView_Picture_1440*600.webp"
    alt="Sauna Leaves"
  />
</div>

<%# TODO:SVGの線の太さを細くする %>
<!-- テントサウナのレンタルサービス - start -->
<div class="justify-center items-center pt-10 pb-8 bg-[#F6F7F6]">
  <div class="flex-col justify-start items-center flex">
    <div class="text-center text-dark-green text-base md:text-lg font-bold font-['Noto Sans JP'] tracking-wide">
      テントサウナのレンタル
    </div>
    <div class="w-[80px] md:w-[140px] h-px bg-light-green">
    </div>
    <div class="pt-[4px] text-center text-light-green text-[10px] md:text-[14px] font-['Inter'] tracking-wide">
      Service
    </div>
  </div>

<%# contents -start- %>
  <div class="grid grid-cols-1 md:grid-cols-3 md:gap-10 pt-4 px-8 justify-center items-center">
    <div class="md:w-[240px] flex md:flex-col pt-8 md:pt-0">
      <svg width="96" height="96" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-[210px] md:mx-auto justify-between md:justify-center">
        <rect width="96" height="96" fill="#F6F7F6"/>
        <path d="M68.8266 15.6099L36.4372 14L15 56.0053L55.6919 68L56.3694 67.7258L88.913 54.6091L68.8266 15.6099ZM40.7675 59.2657L40.6693 58.8786L36.4921 42.555L29.2424 55.8703L20.9939 53.4389L37.7262 20.6515L52.9379 62.8553L40.7675 59.2657ZM56.2635 63.2864L40.0636 18.3406L66.2092 19.6413L83.1146 52.4627L56.2635 63.2864Z" fill="#669988"/>
        <path d="M32.0397 79.918L14.6386 76.2556C13.5126 76.019 12.4071 76.3262 12.1673 76.9425C11.9276 77.5589 12.644 78.2506 13.7691 78.4871L31.1702 82.1495C32.2952 82.3867 33.4007 82.0789 33.6405 81.4619C33.8811 80.8463 33.1638 80.1545 32.0397 79.918Z" fill="#669988"/>
        <path d="M30.9753 76.0052L23.3359 77.6135L30.3568 79.091L32.0398 78.7365C33.1639 78.5007 33.8374 77.6965 33.5436 76.9424C33.2497 76.1882 32.1004 75.7693 30.9753 76.0052Z" fill="#669988"/>
        <path d="M13.5739 79.6678C12.4489 79.9043 11.7744 80.7085 12.0692 81.462C12.364 82.2168 13.5124 82.6357 14.6383 82.3991L22.3757 80.7709L15.3539 79.2935L13.5739 79.6678Z" fill="#669988"/>
        <mask id="path-5-inside-1_179_270" fill="white">
        <path d="M24.5482 76.8073C26.0057 76.5295 26.7641 76.2103 28.384 75.1368C31.3038 72.9899 31.736 69.5528 29.8977 65.2776C29.874 65.2206 29.5731 64.5612 29.0831 65.125C28.7632 65.4908 26.6921 67.1677 26.2147 66.8083C26.4554 65.6446 25.2789 63.1808 24.4397 63.0107C23.6037 62.8389 23.3052 64.7604 19.6301 66.6283C16.1712 68.1002 14.1333 70.695 15.3581 73.4372C16.5789 76.1788 20.748 77.5301 24.5482 76.8073ZM22.1058 68.999C23.1754 68.4264 24.051 67.9255 24.051 67.9255C24.051 67.9255 24.8277 69.1417 24.5379 70.2507C25.5109 70.1784 26.4348 69.6065 26.4348 69.6065C26.4348 69.6065 27.6992 72.0761 25.6075 73.9719C23.3717 75.9983 19.3333 75.2242 18.7498 73.0423C18.1765 70.8989 21.0354 69.5709 22.1058 68.999Z"/>
        </mask>
        <path d="M24.5482 76.8073C26.0057 76.5295 26.7641 76.2103 28.384 75.1368C31.3038 72.9899 31.736 69.5528 29.8977 65.2776C29.874 65.2206 29.5731 64.5612 29.0831 65.125C28.7632 65.4908 26.6921 67.1677 26.2147 66.8083C26.4554 65.6446 25.2789 63.1808 24.4397 63.0107C23.6037 62.8389 23.3052 64.7604 19.6301 66.6283C16.1712 68.1002 14.1333 70.695 15.3581 73.4372C16.5789 76.1788 20.748 77.5301 24.5482 76.8073ZM22.1058 68.999C23.1754 68.4264 24.051 67.9255 24.051 67.9255C24.051 67.9255 24.8277 69.1417 24.5379 70.2507C25.5109 70.1784 26.4348 69.6065 26.4348 69.6065C26.4348 69.6065 27.6992 72.0761 25.6075 73.9719C23.3717 75.9983 19.3333 75.2242 18.7498 73.0423C18.1765 70.8989 21.0354 69.5709 22.1058 68.999Z" fill="#E5E7E4"/>
        <path d="M24.5482 76.8073L25.6693 82.7016L25.6716 82.7012L24.5482 76.8073ZM28.384 75.1368L31.6984 80.1382L31.8204 80.0574L31.9383 79.9707L28.384 75.1368ZM29.8977 65.2776L24.3587 67.584L24.372 67.616L24.3857 67.6478L29.8977 65.2776ZM29.0831 65.125L33.5997 69.0747L33.6056 69.0679L33.6115 69.0612L29.0831 65.125ZM26.2147 66.8083L20.3391 65.5932L19.5693 69.3155L22.6059 71.6017L26.2147 66.8083ZM24.4397 63.0107L23.232 68.8879L23.24 68.8896L23.2481 68.8912L24.4397 63.0107ZM19.6301 66.6283L21.9794 72.1493L22.167 72.0695L22.3487 71.9771L19.6301 66.6283ZM15.3581 73.4372L20.8392 70.9965L20.8365 70.9904L15.3581 73.4372ZM22.1058 68.999L24.9334 74.2909L24.9374 74.2888L22.1058 68.999ZM24.051 67.9255L29.1078 64.6962L26.0321 59.8799L21.0717 62.7174L24.051 67.9255ZM24.5379 70.2507L18.7328 68.7338L16.6105 76.8558L24.9822 76.2342L24.5379 70.2507ZM26.4348 69.6065L31.7756 66.8722L28.81 61.0797L23.2768 64.5048L26.4348 69.6065ZM25.6075 73.9719L29.6368 78.4177L29.637 78.4175L25.6075 73.9719ZM18.7498 73.0423L24.5461 71.4922L24.5461 71.4922L18.7498 73.0423ZM25.6716 82.7012C26.6494 82.5148 27.6686 82.2618 28.7897 81.7762C29.8489 81.3175 30.7891 80.7409 31.6984 80.1382L25.0695 70.1353C24.3591 70.6062 24.1101 70.7259 24.0207 70.7646C23.9933 70.7765 23.9045 70.8219 23.4247 70.9134L25.6716 82.7012ZM31.9383 79.9707C34.6363 77.9869 36.3768 75.1884 36.8619 71.8742C37.3186 68.754 36.5971 65.6687 35.4097 62.9075L24.3857 67.6478C25.0367 69.1618 25.0182 69.9326 24.9884 70.1364C24.9775 70.211 24.9689 70.1994 24.9917 70.1622C25.0121 70.1287 24.9918 70.1837 24.8296 70.3029L31.9383 79.9707ZM35.4367 62.9713C35.365 62.7989 34.7643 61.2589 33.1963 60.1176C32.1945 59.3884 30.505 58.6313 28.4078 58.9879C26.4553 59.32 25.1992 60.4473 24.5546 61.1889L33.6115 69.0612C33.212 69.5208 32.1772 70.5192 30.4197 70.8181C28.5175 71.1416 26.9965 70.4472 26.1342 69.8195C25.3652 69.2597 24.9462 68.6502 24.781 68.3931C24.5893 68.0946 24.4566 67.8191 24.3587 67.584L35.4367 62.9713ZM24.5664 61.1754C24.6833 61.0417 24.7729 60.9532 24.798 60.9286C24.8166 60.9103 24.8305 60.8972 24.8383 60.8897C24.8464 60.8821 24.851 60.878 24.8516 60.8774C24.8523 60.8768 24.8436 60.8846 24.8251 60.9006C24.807 60.9162 24.783 60.9365 24.7535 60.9608C24.6234 61.0679 24.4664 61.1871 24.3332 61.2777C24.1476 61.4039 24.2143 61.3353 24.4864 61.2205C24.6056 61.1702 25.0706 60.9769 25.7574 60.8957C26.3546 60.8251 28.1107 60.7254 29.8235 62.0149L22.6059 71.6017C24.4381 72.9811 26.3634 72.9076 27.1665 72.8127C28.0592 72.7071 28.7667 72.4389 29.1522 72.2762C29.9569 71.9366 30.6508 71.4934 31.0827 71.1996C31.8483 70.6788 32.9394 69.8298 33.5997 69.0747L24.5664 61.1754ZM32.0904 68.0235C32.3984 66.5341 32.1845 65.2023 32.0101 64.4284C31.8111 63.5461 31.5036 62.7086 31.1594 61.9786C30.8231 61.265 30.3569 60.4523 29.7394 59.7014C29.3442 59.2208 27.9816 57.6065 25.6314 57.1303L23.2481 68.8912C22.1544 68.6696 21.4325 68.1792 21.1151 67.9358C20.7647 67.667 20.556 67.4269 20.4705 67.323C20.3022 67.1182 20.2723 67.0261 20.3049 67.0952C20.3297 67.1478 20.3236 67.1551 20.3038 67.0674C20.2927 67.0179 20.2652 66.8845 20.2528 66.6784C20.2413 66.4874 20.2342 66.1004 20.3391 65.5932L32.0904 68.0235ZM25.6475 57.1335C22.5861 56.5044 20.4892 58.1873 19.8086 58.8082C19.463 59.1235 19.1783 59.4414 19.053 59.5811C18.8657 59.79 18.8132 59.8522 18.6888 59.9871C18.4178 60.2809 17.977 60.7381 16.9116 61.2796L22.3487 71.9771C23.6162 71.3329 24.6587 70.6495 25.5309 69.9614C26.4075 69.2698 27.0482 68.6234 27.5104 68.1222C27.7052 67.9109 27.9276 67.6588 27.9861 67.5936C28.1066 67.4592 28.0387 67.5433 27.8961 67.6735C27.7627 67.7951 27.2663 68.239 26.4523 68.5783C25.494 68.9778 24.3669 69.1212 23.232 68.8879L25.6475 57.1335ZM17.2809 61.1074C14.8811 62.1285 12.398 63.7653 10.7554 66.2133C8.95006 68.9038 8.33057 72.4156 9.87965 75.884L20.8365 70.9904C20.9423 71.2274 21.0376 71.6226 20.9853 72.0899C20.9358 72.5331 20.7803 72.8097 20.72 72.8995C20.669 72.9756 20.7014 72.8996 20.9281 72.7298C21.1492 72.5642 21.4943 72.3557 21.9794 72.1493L17.2809 61.1074ZM9.87692 75.8779C11.3781 79.2492 14.3632 81.1514 16.9865 82.0785C19.6893 83.0337 22.7603 83.2549 25.6693 82.7016L23.427 70.913C22.5359 71.0825 21.6222 70.9895 20.9852 70.7643C20.2688 70.5111 20.5588 70.3668 20.8392 70.9965L9.87692 75.8779ZM24.9374 74.2888C25.5113 73.9815 26.0296 73.6955 26.4036 73.4868C26.5913 73.382 26.7445 73.2957 26.8523 73.2347C26.9062 73.2042 26.9489 73.1799 26.979 73.1628C26.994 73.1543 27.006 73.1475 27.0146 73.1425C27.0189 73.1401 27.0223 73.1381 27.025 73.1366C27.0263 73.1359 27.0274 73.1352 27.0283 73.1347C27.0287 73.1345 27.0291 73.1342 27.0295 73.134C27.0296 73.1339 27.0298 73.1339 27.0299 73.1338C27.03 73.1337 27.0301 73.1337 27.0301 73.1337C27.0302 73.1336 27.0303 73.1336 24.051 67.9255C21.0717 62.7174 21.0718 62.7174 21.0719 62.7174C21.0719 62.7173 21.072 62.7173 21.072 62.7173C21.0721 62.7172 21.0722 62.7172 21.0723 62.7171C21.0724 62.7171 21.0725 62.717 21.0725 62.717C21.0725 62.717 21.0723 62.7171 21.072 62.7173C21.0712 62.7177 21.0696 62.7186 21.0673 62.72C21.0625 62.7227 21.0546 62.7272 21.0436 62.7335C21.0216 62.746 20.9876 62.7653 20.9427 62.7907C20.8529 62.8416 20.7203 62.9163 20.5554 63.0083C20.2241 63.1932 19.7698 63.4439 19.2742 63.7092L24.9374 74.2888ZM24.051 67.9255C18.9942 71.1549 18.9933 71.1534 18.9924 71.152C18.9921 71.1515 18.9912 71.1501 18.9906 71.1491C18.9894 71.1472 18.9882 71.1454 18.987 71.1435C18.9846 71.1397 18.9823 71.1361 18.9799 71.1324C18.9753 71.1251 18.9709 71.118 18.9665 71.1111C18.9579 71.0973 18.9498 71.0841 18.9422 71.0717C18.9269 71.0468 18.9135 71.0244 18.9017 71.0041C18.8783 70.9641 18.8597 70.9302 18.8443 70.9005C18.8172 70.8484 18.785 70.7808 18.7521 70.6885C18.74 70.6548 18.4342 69.8766 18.7328 68.7338L30.343 71.7675C30.9314 69.5157 30.3821 67.5749 30.0542 66.6559C29.8633 66.1209 29.655 65.68 29.4914 65.3652C29.4077 65.2042 29.3306 65.0666 29.2659 64.9557C29.2334 64.9 29.2036 64.8504 29.1772 64.8072C29.1639 64.7855 29.1515 64.7654 29.1399 64.7469C29.1341 64.7377 29.1286 64.7288 29.1232 64.7204C29.1205 64.7161 29.1179 64.712 29.1153 64.708C29.1141 64.7059 29.1128 64.704 29.1115 64.702C29.1109 64.701 29.11 64.6995 29.1097 64.6991C29.1087 64.6976 29.1078 64.6962 24.051 67.9255ZM24.9822 76.2342C26.4034 76.1287 27.5712 75.6938 28.2266 75.4113C28.5895 75.2548 28.8923 75.1021 29.1167 74.9815C29.2303 74.9204 29.3278 74.8654 29.4071 74.8193C29.4468 74.7962 29.4823 74.7752 29.5133 74.7566C29.5287 74.7473 29.5431 74.7386 29.5564 74.7305C29.563 74.7265 29.5694 74.7226 29.5755 74.7189C29.5785 74.717 29.5815 74.7152 29.5844 74.7134C29.5858 74.7125 29.5873 74.7116 29.5887 74.7107C29.5894 74.7103 29.5904 74.7096 29.5908 74.7094C29.5918 74.7088 29.5929 74.7081 26.4348 69.6065C23.2768 64.5048 23.2779 64.5042 23.2789 64.5035C23.2792 64.5033 23.2803 64.5027 23.2809 64.5023C23.2823 64.5014 23.2836 64.5006 23.285 64.4998C23.2876 64.4981 23.2903 64.4965 23.2929 64.4949C23.298 64.4917 23.3031 64.4887 23.3079 64.4857C23.3176 64.4798 23.3267 64.4743 23.3352 64.4692C23.3522 64.459 23.3668 64.4503 23.3794 64.443C23.4044 64.4285 23.4221 64.4188 23.4339 64.4124C23.4546 64.4013 23.4656 64.3961 23.4759 64.3917C23.4831 64.3886 23.5229 64.3714 23.598 64.3499C23.6673 64.3302 23.838 64.2861 24.0936 64.2671L24.9822 76.2342ZM26.4348 69.6065C21.0941 72.3408 21.0928 72.3382 21.0915 72.3356C21.091 72.3348 21.0897 72.3323 21.0889 72.3306C21.0872 72.3272 21.0855 72.3239 21.0838 72.3205C21.0804 72.3139 21.0771 72.3074 21.0739 72.3009C21.0674 72.288 21.0612 72.2755 21.0552 72.2633C21.0432 72.2389 21.0321 72.2159 21.0219 72.1942C21.0014 72.1509 20.984 72.1121 20.9691 72.0771C20.9397 72.0085 20.9174 71.9493 20.8998 71.8958C20.8694 71.8033 20.8306 71.6609 20.8178 71.4611C20.8044 71.2514 20.8161 70.9049 20.9606 70.4951C21.1169 70.0517 21.3646 69.7198 21.5781 69.5263L29.637 78.4175C32.3272 75.9792 32.937 72.9429 32.7933 70.6954C32.7259 69.6412 32.5017 68.7629 32.2996 68.1482C32.1962 67.8335 32.0915 67.5666 32.0011 67.3554C31.9557 67.2493 31.9131 67.1555 31.8752 67.0751C31.8562 67.0348 31.8383 66.9977 31.8216 66.9639C31.8133 66.947 31.8053 66.9309 31.7976 66.9156C31.7938 66.908 31.79 66.9005 31.7864 66.8933C31.7845 66.8897 31.7827 66.8861 31.7809 66.8826C31.78 66.8808 31.7787 66.8782 31.7782 66.8773C31.7769 66.8748 31.7756 66.8722 26.4348 69.6065ZM21.5782 69.5262C22.0669 69.0833 22.44 69.1501 22.4859 69.1572C22.5542 69.1679 22.8237 69.2179 23.1993 69.4814C23.5903 69.7558 24.2515 70.3907 24.5461 71.4922L12.9535 74.5924C14.1277 78.9834 18.162 80.627 20.6322 81.0132C23.4021 81.4463 26.9124 80.8869 29.6368 78.4177L21.5782 69.5262ZM24.5461 71.4922C24.6597 71.9172 24.7055 72.399 24.6528 72.9016C24.601 73.3968 24.4642 73.8146 24.3131 74.1363C24.1663 74.4491 24.0105 74.6627 23.9116 74.783C23.8128 74.9031 23.7434 74.9634 23.7348 74.9708C23.7333 74.9721 23.8245 74.8976 24.0677 74.7561C24.353 74.59 24.4945 74.5254 24.9334 74.2909L19.2781 63.707C19.057 63.8252 17.303 64.6689 15.888 65.8918C14.4844 67.105 11.7696 70.1659 12.9535 74.5924L24.5461 71.4922Z" fill="#669988" mask="url(#path-5-inside-1_179_270)"/>
      </svg>
      <div class="md:mx-auto flex-col justify-between md:justify-center pl-8 md:pl-0">
        <div class="text-center text-dark-green text-sm md:text-base font-semibold font-['Noto Sans JP'] md:pt-4">
          費用を抑えて利用できる！
        </div>
        <div class="text-dark-green text-xs md:text-[14px] font-['Noto Sans JP'] leading-loose pt-2 md:pt-4">
          テントサウナは一式購入するとなると高額です。レンタルなら、使いたいときだけ賢く費用を抑えて楽しめます。
        </div>
      </div>
    </div>

    <div class="md:w-[240px] flex md:flex-col pt-8 md:pt-0">
      <svg width="96" height="96" viewBox="0 0 96 96" xmlns="http://www.w3.org/2000/svg" class="w-[210px] md:mx-auto justify-between md:justify-center">
        <path d="M24 76H72V68H24V76ZM24 60H72V52H24V60ZM24 44H72V40.4L66.2 36H29.8L24 40.4V44ZM40.2 28H55.8L48 22.1L40.2 28ZM16 84V46.5L8.8 52L4 45.6L16 36.4V24H24V30.3L48 12L92 45.6L87.2 51.9L80 46.5V84H16ZM16 20C16 16.6667 17.1667 13.8333 19.5 11.5C21.8333 9.16667 24.6667 8 28 8C29.1333 8 30.0833 7.61667 30.85 6.85C31.6167 6.08333 32 5.13333 32 4H40C40 7.33333 38.8333 10.1667 36.5 12.5C34.1667 14.8333 31.3333 16 28 16C26.8667 16 25.9167 16.3833 25.15 17.15C24.3833 17.9167 24 18.8667 24 20H16Z" fill="#669988"/>
        <path d="M24 76H72V68H24V76ZM24 60H72V52H24V60ZM24 44H72V40.4L66.2 36H29.8L24 40.4V44ZM40.2 28H55.8L48 22.1L40.2 28ZM16 84V46.5L8.8 52L4 45.6L16 36.4V24H24V30.3L48 12L92 45.6L87.2 51.9L80 46.5V84H16ZM16 20C16 16.6667 17.1667 13.8333 19.5 11.5C21.8333 9.16667 24.6667 8 28 8C29.1333 8 30.0833 7.61667 30.85 6.85C31.6167 6.08333 32 5.13333 32 4H40C40 7.33333 38.8333 10.1667 36.5 12.5C34.1667 14.8333 31.3333 16 28 16C26.8667 16 25.9167 16.3833 25.15 17.15C24.3833 17.9167 24 18.8667 24 20H16Z" fill="#669988"/>
      </svg>
      <div class="md:mx-auto flex-col justify-between md:justify-center pl-8 md:pl-0">
        <div class="text-center text-dark-green text-sm md:text-base font-semibold font-['Noto Sans JP'] md:pt-4">
          届いて直ぐに利用可能！
        </div>
        <div class="text-dark-green text-xs md:text-[14px] font-['Noto Sans JP'] leading-loose pt-2 md:pt-4">
          テントサウナに必要な商品をセットにてご利用可能です。薪さえあれば、すぐにご利用が始められます。
        </div>
      </div>
    </div>

    <div class="md:w-[240px] flex md:flex-col pt-8 md:pt-0">
      <svg width="96" height="96" viewBox="0 0 96 96" xmlns="http://www.w3.org/2000/svg" class="w-[210px] md:mx-auto justify-between md:justify-center">
        <path d="M32.0999 72H44.0999V68H36.0999V64H44.0999V52H32.0999V56H40.0999V60H32.0999V72ZM60.0999 72H64.0999V52H60.0999V60H56.0999V52H52.0999V64H60.0999V72ZM84.0999 44.2V76C84.0999 78.2 83.3165 80.0833 81.7499 81.65C80.1832 83.2167 78.2999 84 76.0999 84H20.0999C17.8999 84 16.0165 83.2167 14.4499 81.65C12.8832 80.0833 12.0999 78.2 12.0999 76V44.2C10.5665 42.8 9.3832 41 8.54986 38.8C7.71653 36.6 7.69986 34.2 8.49986 31.6L12.6999 18C13.2332 16.2667 14.1832 14.8333 15.5499 13.7C16.9165 12.5667 18.4999 12 20.2999 12H75.8999C77.6999 12 79.2665 12.55 80.5999 13.65C81.9332 14.75 82.8999 16.2 83.4999 18L87.6999 31.6C88.4999 34.2 88.4832 36.5667 87.6499 38.7C86.8165 40.8333 85.6332 42.6667 84.0999 44.2ZM56.8999 40C58.6999 40 60.0665 39.3833 60.9999 38.15C61.9332 36.9167 62.2999 35.5333 62.0999 34L59.8999 20H52.0999V34.8C52.0999 36.2 52.5665 37.4167 53.4999 38.45C54.4332 39.4833 55.5665 40 56.8999 40ZM38.8999 40C40.4332 40 41.6832 39.4833 42.6499 38.45C43.6165 37.4167 44.0999 36.2 44.0999 34.8V20H36.2999L34.0999 34C33.8332 35.6 34.1832 37 35.1499 38.2C36.1165 39.4 37.3665 40 38.8999 40ZM21.0999 40C22.2999 40 23.3499 39.5667 24.2499 38.7C25.1499 37.8333 25.6999 36.7333 25.8999 35.4L28.0999 20H20.2999L16.2999 33.4C15.8999 34.7333 16.1165 36.1667 16.9499 37.7C17.7832 39.2333 19.1665 40 21.0999 40ZM75.0999 40C77.0332 40 78.4332 39.2333 79.2999 37.7C80.1665 36.1667 80.3665 34.7333 79.8999 33.4L75.6999 20H68.0999L70.2999 35.4C70.4999 36.7333 71.0499 37.8333 71.9499 38.7C72.8499 39.5667 73.8999 40 75.0999 40ZM20.0999 76H76.0999V47.8C75.7665 47.9333 75.5499 48 75.4499 48H75.0999C73.2999 48 71.7165 47.7 70.3499 47.1C68.9832 46.5 67.6332 45.5333 66.2999 44.2C65.0999 45.4 63.7332 46.3333 62.1999 47C60.6665 47.6667 59.0332 48 57.2999 48C55.4999 48 53.8165 47.6667 52.2499 47C50.6832 46.3333 49.2999 45.4 48.0999 44.2C46.9665 45.4 45.6499 46.3333 44.1499 47C42.6499 47.6667 41.0332 48 39.2999 48C37.3665 48 35.6165 47.6667 34.0499 47C32.4832 46.3333 31.0999 45.4 29.8999 44.2C28.4999 45.6 27.1165 46.5833 25.7499 47.15C24.3832 47.7167 22.8332 48 21.0999 48H20.6499C20.4832 48 20.2999 47.9333 20.0999 47.8V76Z" fill="#669988"/>
      </svg>
      <div class="md:mx-auto flex-col justify-between md:justify-center pl-8 md:pl-0">
        <div class="text-center text-dark-green text-sm md:text-base font-semibold font-['Noto Sans JP'] md:pt-4">
          コンビニからカンタン返却！
        </div>
        <div class="text-dark-green text-xs md:text-[14px] font-['Noto Sans JP'] leading-loose pt-2 md:pt-4">
          お客様からの返送時の配送には、ヤマト運輸を利用しているので、全国のコンビニからいつでも返却が可能です。
        </div>
      </div>
    </div>
    
  </div>
</div>
<!-- テントサウナのレンタルサービス - end -->

<!-- 商品 - start -->
<%# TODO: 商品カードを小さくする %>
<div class="justify-center items-center pt-10 pb-8 bg-white">
  <div class="flex-col justify-start items-center flex">
    <div class="text-center text-dark-green text-base md:text-lg font-bold font-['Noto Sans JP'] tracking-wide">
      おすすめ商品
    </div>
    <div class="w-[80px] md:w-[140px] h-px bg-light-green">
    </div>
    <div class="pt-[4px] text-center text-light-green text-[10px] md:text-[14px] font-['Inter'] tracking-wide">
      Products
    </div>
  </div>

  <%# MEMO:テキストのコントラスト比が強すぎるので優しめにする必要あり %>
  <div class="flex xl:justify-center overflow-scroll">
    <% @products.each do |product| %>
      <div class="px-6 pt-8">
        <div class="w-[208px] h-[288px] md:w-[260px] md:h-[360px] bg-gray-100 shadow-md rounded-lg">
          <%= link_to product_path(product) do %>
            <%= image_tag product.image, class: "object-cover rounded-t-lg" %>
            <div class="px-5 pb-5">
              <p class="text-base md:text-md font-['Noto Sans JP'] font-semibold tracking-tight text-dark-green mt-4 mb-4"><%= product.name %></p>
              <div class="flex justify-between items-center">
                <span class="text-base md:text-md font-['Noto Sans'] font-bold text-dark-green"><%= number_to_currency(product.price, unit: "¥", strip_insignificant_zeros: true) %></span>
                <% if product.stock > 0 %>
                  <span class="bg-blue-100 text-blue-800 text-[10px] md:text-xs font-['Noto Sans JP'] font-semibold p-2 rounded">在庫あり</span>
                <% else %>
                  <span class="bg-red-100 text-red-800 text-[10px] md:text-xs font-['Noto Sans JP'] font-semibold p-2 rounded">在庫なし</span>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

<!-- 商品 buttun - start -->
  <div class="flex justify-center mt-2">
    <div class='mt-3'>
      <%= link_to products_path, class:"group inline-flex items-center justify-center rounded-full bg-light-green hover:bg-[#acae98] focus:ring-gray-100 focus:ring-gray-300" do %>
        <span class="font-['Noto Sans JP'] text-base md:text-[12px] text-white px-4 py-2 duration-75 ease-in group-hover:bg-opacity-0">
          すべてを見る
        </span>
      <% end %>
    </div>
  </div>
<!-- 商品 buttun - end -->


</div>
<!-- 商品 - end -->

<%# MEMO:各ステップにh-48 md:h-80のように追加するとmy-xxx と事実上同じことになる %>
<%# MEMO:gap-xx を追加して文字テキストの行間を開ける→ 一旦、mb-2 mb-3 にて調整中 %>
<!-- ご利用手順 - start -->
<div class="pt-10 pb-8 bg-[#F6F7F6]">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <div class="flex-col justify-start items-center flex">
      <div class="text-center text-dark-green text-base md:text-lg font-bold font-['Noto Sans JP'] tracking-wide">
        カンタン ご利用手順
      </div>
    <div class="w-[80px] md:w-[140px] h-px bg-light-green"></div>
    <div class="pt-[4px] text-center text-light-green text-[10px] md:text-[14px] font-['Inter'] tracking-wide">
      HOW TO USE
    </div>
  </div>
    
    <div class="mb-4 grid grid-cols-1 gap-4 md:mb-8 md:grid-cols-4 md:gap-6 xl:gap-8">
      
      <!-- Step - start -->
      <div class="flex flex-col justify-center items-center">
        <div class="mb-2 text-center text-dark-green text-base font-bold font-['Noto Sans JP'] leading-7">
          Step1 ネットで注文
        </div>
        <div class="mb-3 text-center text-dark-green text-sm font-['Noto Sans JP'] leading-relaxed">
          スマホからいつでもどこでも注文可能
        </div>
        <svg width="93" height="92" viewBox="0 0 93 92" fill="dark-green" xmlns="http://www.w3.org/2000/svg" >
          <g clip-path="url(#clip0_108_602)">
            <rect width="92" height="92" transform="translate(0.5 -0.00488281)" fill="#F2F3F2"/>
            <path d="M86.3877 -0.00488281H6.61225C3.23466 -0.00488281 0.5 3.22767 0.5 7.21262V67.465C0.5 71.45 3.23466 74.6825 6.61225 74.6825H40.0312V76.2904C40.0312 80.2754 37.2966 83.5079 33.919 83.5079H24.9375V91.9951H38.0885H54.9117H68.0625V83.5079H59.081C55.7034 83.5079 52.9688 80.2756 52.9688 76.2904V74.6825H86.3877C89.7653 74.6825 92.5 71.4502 92.5 67.465V7.21262C92.5 3.22767 89.7653 -0.00488281 86.3877 -0.00488281ZM83.875 58.6959C83.875 60.0254 82.9625 61.1028 81.8366 61.1028H11.1634C10.0375 61.1028 9.125 60.0254 9.125 58.6959V12.5867C9.125 11.2572 10.0375 10.1797 11.1634 10.1797H81.8368C82.9627 10.1797 83.8752 11.2572 83.8752 12.5867V58.6959H83.875Z" fill="#4B4B4B"/>
            <path d="M17.5 44.9951V44.3284H39.5V44.9951H17.5ZM17.5 39.6618V38.9951H31.5V39.6618H17.5ZM17.5 34.3285V33.6618H39.5V34.3285H17.5ZM17.5 28.9951V28.3285H31.5V28.9951H17.5ZM17.5 23.6618V22.9951H39.5V23.6618H17.5Z" fill="#E5E7E4" stroke="#4B5049" stroke-width="2"/>
            <path d="M69.8037 22.6957L55.7811 21.9951L46.5 40.276L64.1172 45.4961L64.4105 45.3768L78.5 39.6684L69.8037 22.6957ZM57.6558 41.6949L57.6133 41.5264L55.8048 34.4224L52.6661 40.2172L49.095 39.1591L56.3391 24.8899L62.9249 43.2571L57.6558 41.6949ZM64.3647 43.4447L57.3511 23.8842L68.6706 24.4502L75.9896 38.7342L64.3647 43.4447Z" fill="#4B4B4B"/>
          </g>
          <defs>
            <clipPath id="clip0_108_602">
              <rect width="92" height="92" fill="white" transform="translate(0.5 -0.00488281)"/>
            </clipPath>
          </defs>
        </svg>
      </div>
      <!-- Step - end -->

      <!-- Step - start -->
      <div class="flex flex-col justify-center items-center">
        <div class="mb-2 text-center text-dark-green text-base font-bold font-['Noto Sans JP'] leading-7">
          Step2 商品受け取り
        </div>
        <div class="mb-3 text-center text-dark-green text-sm font-['Noto Sans JP'] leading-relaxed">
          ご指定の日時、場所にお届けします
        </div>
        <svg width="85" height="84" viewBox="0 0 85 84" fill="none" xmlns="http://www.w3.org/2000/svg" >
          <g clip-path="url(#clip0_108_614)">
            <path d="M73.8865 6.01056L73.8865 6.01056C80.3892 7.00501 84.8543 13.0836 83.8617 19.5865C82.8633 26.0893 76.7848 30.5541 70.2859 29.5598C65.0691 28.7604 61.2126 24.6726 60.3912 19.7286L60.3218 19.3106H59.898H53.6875V14.0928H60.4125H60.7646L60.8832 13.7613C62.7663 8.50135 68.1588 5.13437 73.8865 6.01056Z" fill="#4B4B4B" stroke="#4B4B4B"/>
            <path d="M25.1331 53.9392C25.9872 53.9392 26.6786 54.6318 26.6786 55.4847C26.6786 56.3361 25.9869 57.0301 25.1332 57.0301H16.2758C15.422 57.0301 14.7305 56.336 14.7305 55.4847C14.7305 54.6318 15.4218 53.9392 16.2758 53.9392H25.1331Z" fill="#4B4B4B" stroke="#4B4B4B"/>
            <path d="M65.3194 39.4001L65.3261 39.3938L65.3325 39.3872C68.091 36.588 72.5169 35.1926 76.2262 35.8418C78.0701 36.1646 79.7146 36.9879 80.8985 38.3698C82.0803 39.7491 82.8396 41.7272 82.8396 44.4278V78.1183H62.112V61.4849V60.659L61.3802 61.0419L53.7837 65.0168L53.7837 65.0167L53.7722 65.0231C51.3731 66.36 49.3896 67.0409 46.6711 67.4287L46.6711 67.4287L46.6621 67.4301L40.8302 68.3705L40.4097 68.4383V68.8641V78.1183H1V43.6815H40.4097V57.3924V58.0313L41.0299 57.8777L47.2587 56.3359L47.386 56.3044L47.4815 56.2144L65.3194 39.4001ZM35.9368 74.1449H36.4368V73.6449V69.6648V69.0778L35.8573 69.1711L32.0049 69.7918C29.6183 70.1292 27.3756 68.5719 26.8613 66.219L26.8614 66.219L26.8591 66.2095L26.8114 66.0098C26.2916 63.6188 27.7301 61.237 30.0884 60.5845L36.0569 59.1079L36.4368 59.0139V58.6225V48.1545V47.6545H35.9368H5.47323H4.97323V48.1545V73.6449V74.1449H5.47323H35.9368Z" fill="#4B4B4B" stroke="#4B4B4B"/>
          </g>
          <defs>
            <clipPath id="clip0_108_614">
              <rect width="84" height="84" fill="white" transform="translate(0.5 -0.00488281)"/>
            </clipPath>
          </defs>
        </svg>
      </div>
      <!-- Step - end -->

      <!-- Step - start -->
      <div class="flex flex-col justify-center items-center">
        <div class="mb-2 text-center text-dark-green text-base font-bold font-['Noto Sans JP'] leading-7">
          Step3 ご利用
        </div>
        <div class="mb-3 text-center text-dark-green text-sm font-['Noto Sans JP'] leading-relaxed">
          使用方法・マナーを守りお楽しみください
        </div>
        <svg width="92" height="92" viewBox="0 0 92 92" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="92" height="92" fill="#F6F7F6"/>
          <path d="M65.9588 14.9595L34.919 13.4167L14.375 53.6719L53.3714 65.1667L54.0206 64.904L85.2083 52.3338L65.9588 14.9595ZM39.0689 56.7964L38.9748 56.4254L34.9716 40.782L28.024 53.5425L20.1191 51.2123L36.1543 19.7911L50.7321 60.2364L39.0689 56.7964ZM53.9192 60.6496L38.3943 17.5765L63.4505 18.823L79.6515 50.2769L53.9192 60.6496Z" fill="#4B5049"/>
          <path d="M30.7048 76.588L14.0288 73.0782C12.9497 72.8515 11.8903 73.1458 11.6605 73.7365C11.4307 74.3272 12.1173 74.9901 13.1955 75.2168L29.8716 78.7266C30.9498 78.9539 32.0091 78.6589 32.2389 78.0676C32.4696 77.4776 31.7821 76.8147 30.7048 76.588Z" fill="#4B5049"/>
          <path d="M29.6844 72.8384L22.3633 74.3797L29.0916 75.7956L30.7045 75.4559C31.7818 75.2299 32.4272 74.4592 32.1456 73.7365C31.864 73.0138 30.7626 72.6124 29.6844 72.8384Z" fill="#4B5049"/>
          <path d="M13.0084 76.3482C11.9302 76.5749 11.2838 77.3456 11.5663 78.0677C11.8489 78.791 12.9494 79.1925 14.0284 78.9658L21.4434 77.4054L14.7142 75.9895L13.0084 76.3482Z" fill="#4B5049"/>
          <mask id="path-5-inside-1_222_239" fill="white">
            <path d="M23.5253 73.607C24.9222 73.3407 25.649 73.0348 27.2013 72.0061C29.9995 69.9486 30.4137 66.6548 28.652 62.5577C28.6292 62.5031 28.3409 61.8712 27.8713 62.4115C27.5647 62.7621 25.5799 64.369 25.1225 64.0246C25.3531 62.9094 24.2256 60.5483 23.4214 60.3853C22.6202 60.2206 22.3342 62.0621 18.8122 63.8522C15.4974 65.2627 13.5445 67.7494 14.7182 70.3773C15.8881 73.0047 19.8835 74.2997 23.5253 73.607ZM21.1847 66.124C22.2097 65.5753 23.0489 65.0953 23.0489 65.0953C23.0489 65.0953 23.7932 66.2608 23.5155 67.3235C24.4479 67.2543 25.3334 66.7062 25.3334 66.7062C25.3334 66.7062 26.5451 69.0729 24.5405 70.8898C22.3979 72.8317 18.5277 72.0899 17.9685 69.9989C17.4192 67.9448 20.1589 66.6721 21.1847 66.124Z"/>
          </mask>
          <path d="M23.5253 73.607C24.9222 73.3407 25.649 73.0348 27.2013 72.0061C29.9995 69.9486 30.4137 66.6548 28.652 62.5577C28.6292 62.5031 28.3409 61.8712 27.8713 62.4115C27.5647 62.7621 25.5799 64.369 25.1225 64.0246C25.3531 62.9094 24.2256 60.5483 23.4214 60.3853C22.6202 60.2206 22.3342 62.0621 18.8122 63.8522C15.4974 65.2627 13.5445 67.7494 14.7182 70.3773C15.8881 73.0047 19.8835 74.2997 23.5253 73.607ZM21.1847 66.124C22.2097 65.5753 23.0489 65.0953 23.0489 65.0953C23.0489 65.0953 23.7932 66.2608 23.5155 67.3235C24.4479 67.2543 25.3334 66.7062 25.3334 66.7062C25.3334 66.7062 26.5451 69.0729 24.5405 70.8898C22.3979 72.8317 18.5277 72.0899 17.9685 69.9989C17.4192 67.9448 20.1589 66.6721 21.1847 66.124Z" fill="#E5E7E4"/>
          <path d="M23.5253 73.607L24.6465 79.5013L24.6488 79.5009L23.5253 73.607ZM27.2013 72.0061L30.5158 77.0075L30.6378 76.9267L30.7557 76.84L27.2013 72.0061ZM28.652 62.5577L23.113 64.8641L23.1263 64.8961L23.14 64.9279L28.652 62.5577ZM27.8713 62.4115L32.3879 66.3611L32.3938 66.3544L32.3997 66.3476L27.8713 62.4115ZM25.1225 64.0246L19.2468 62.8095L18.477 66.5318L21.5136 68.818L25.1225 64.0246ZM23.4214 60.3853L22.2136 66.2625L22.2217 66.2641L22.2298 66.2658L23.4214 60.3853ZM18.8122 63.8522L21.1615 69.3731L21.3491 69.2933L21.5308 69.2009L18.8122 63.8522ZM14.7182 70.3773L20.1993 67.9366L20.1966 67.9305L14.7182 70.3773ZM21.1847 66.124L24.0123 71.4159L24.0163 71.4138L21.1847 66.124ZM23.0489 65.0953L28.1057 61.8659L25.0299 57.0496L20.0696 59.8872L23.0489 65.0953ZM23.5155 67.3235L17.7104 65.8067L15.5881 73.9286L23.9597 73.3071L23.5155 67.3235ZM25.3334 66.7062L30.6741 63.9719L27.7086 58.1794L22.1754 61.6045L25.3334 66.7062ZM24.5405 70.8898L28.5698 75.3355L28.57 75.3354L24.5405 70.8898ZM17.9685 69.9989L23.7648 68.4488L23.7648 68.4488L17.9685 69.9989ZM24.6488 79.5009C25.5962 79.3203 26.5923 79.0735 27.6895 78.5983C28.7248 78.1499 29.6401 77.5878 30.5158 77.0075L23.8869 67.0046C23.2101 67.4531 22.9859 67.5583 22.9205 67.5866C22.917 67.5882 22.8513 67.6274 22.4019 67.7131L24.6488 79.5009ZM30.7557 76.84C33.3928 74.9009 35.0984 72.1606 35.5734 68.9157C36.0199 65.8647 35.313 62.8597 34.164 60.1876L23.14 64.9279C23.7527 66.3528 23.7195 67.0433 23.6999 67.1779C23.694 67.2178 23.6967 67.1743 23.737 67.1084C23.7751 67.0461 23.7787 67.0753 23.647 67.1722L30.7557 76.84ZM34.191 60.2514C34.1197 60.0802 33.5225 58.5477 31.9602 57.4105C30.9614 56.6835 29.2753 55.9277 27.1822 56.2836C25.2338 56.615 23.9823 57.7397 23.3428 58.4753L32.3997 66.3476C31.9951 66.8132 30.9557 67.8142 29.1942 68.1138C27.2879 68.438 25.7634 67.7422 24.8982 67.1124C24.1263 66.5506 23.7049 65.9382 23.5381 65.6785C23.3448 65.3775 23.2111 65.0998 23.113 64.8641L34.191 60.2514ZM23.3546 58.4619C23.4724 58.3272 23.5631 58.2376 23.5895 58.2116C23.6259 58.1759 23.6472 58.1565 23.648 58.1559C23.6491 58.1548 23.6207 58.1804 23.5632 58.2278C23.4433 58.3264 23.299 58.4359 23.1787 58.5177C23.006 58.6352 23.0857 58.5588 23.3689 58.4393C23.4937 58.3866 23.9637 58.1918 24.6548 58.1101C25.2563 58.039 27.0159 57.9398 28.7313 59.2313L21.5136 68.818C23.3434 70.1956 25.2651 70.1215 26.0639 70.0271C26.9523 69.922 27.6548 69.6554 28.0348 69.4951C28.8283 69.1601 29.5092 68.7247 29.9282 68.4396C30.668 67.9363 31.7343 67.1087 32.3879 66.3611L23.3546 58.4619ZM30.9981 65.2398C31.3036 63.7625 31.0909 62.4462 30.9202 61.6889C30.725 60.8231 30.4237 60.0033 30.0873 59.2896C29.7586 58.5923 29.3015 57.7946 28.6934 57.0551C28.3075 56.5859 26.9545 54.9793 24.6131 54.5048L22.2298 66.2658C21.1317 66.0432 20.4052 65.5505 20.0832 65.3035C19.728 65.0311 19.5147 64.7863 19.4245 64.6766C19.2468 64.4605 19.2079 64.3533 19.2328 64.4061C19.2499 64.4425 19.2375 64.4322 19.214 64.3279C19.2009 64.2702 19.1723 64.1287 19.1594 63.9151C19.1475 63.7167 19.1406 63.3228 19.2468 62.8095L30.9981 65.2398ZM24.6292 54.5081C21.5765 53.8808 19.4869 55.56 18.8148 56.1732C18.4734 56.4846 18.1932 56.7976 18.0731 56.9316C17.8908 57.1348 17.8441 57.1905 17.7263 57.3181C17.4819 57.5831 17.0825 58.0008 16.0936 58.5034L21.5308 69.2009C22.76 68.5762 23.773 67.9124 24.622 67.2426C25.4753 66.5693 26.099 65.94 26.5479 65.4533C26.7361 65.2492 26.9528 65.0036 27.0061 64.9441C27.1215 64.8155 27.0491 64.9044 26.9022 65.0384C26.7646 65.164 26.2643 65.6107 25.4463 65.9517C25.0083 66.1343 24.4867 66.284 23.8964 66.3453C23.3028 66.407 22.7342 66.3694 22.2136 66.2625L24.6292 54.5081ZM16.463 58.3312C14.1352 59.3217 11.7094 60.9161 10.0997 63.3151C8.32718 65.9566 7.71617 69.4129 9.23973 72.8241L20.1966 67.9305C20.3152 68.196 20.4147 68.6195 20.3594 69.114C20.3068 69.5843 20.141 69.887 20.0643 70.0013C19.9968 70.1019 20.0067 70.0487 20.206 69.8995C20.3997 69.7544 20.7124 69.5642 21.1615 69.3731L16.463 58.3312ZM9.237 72.818C10.7128 76.1322 13.6417 77.9917 16.1955 78.8943C18.8286 79.8249 21.8166 80.0396 24.6465 79.5013L22.4042 67.7127C21.5922 67.8671 20.7616 67.7807 20.1941 67.5801C19.9268 67.4856 19.8257 67.404 19.8395 67.4151C19.8601 67.4317 20.0442 67.5883 20.1993 67.9366L9.237 72.818ZM24.0163 71.4138C24.568 71.1185 25.066 70.8436 25.4253 70.6431C25.6057 70.5425 25.7529 70.4595 25.8565 70.4008C25.9084 70.3715 25.9495 70.3482 25.9785 70.3316C25.993 70.3234 26.0045 70.3168 26.0129 70.3121C26.017 70.3097 26.0204 70.3078 26.023 70.3063C26.0242 70.3056 26.0253 70.305 26.0262 70.3045C26.0266 70.3042 26.027 70.304 26.0273 70.3038C26.0275 70.3037 26.0277 70.3036 26.0278 70.3035C26.0279 70.3035 26.028 70.3035 26.028 70.3034C26.0281 70.3034 26.0282 70.3033 23.0489 65.0953C20.0696 59.8872 20.0697 59.8872 20.0698 59.8871C20.0698 59.8871 20.0699 59.8871 20.0699 59.887C20.07 59.887 20.0701 59.8869 20.0701 59.8869C20.0703 59.8868 20.0703 59.8868 20.0704 59.8868C20.0704 59.8867 20.0703 59.8868 20.0699 59.887C20.0693 59.8874 20.0678 59.8882 20.0656 59.8895C20.0611 59.8921 20.0536 59.8964 20.0431 59.9023C20.0222 59.9142 19.9898 59.9326 19.947 59.9569C19.8612 60.0054 19.7346 60.0767 19.5771 60.1646C19.2605 60.3413 18.8264 60.5808 18.3531 60.8342L24.0163 71.4138ZM23.0489 65.0953C17.9921 68.3246 17.9912 68.3232 17.9902 68.3218C17.9899 68.3213 17.989 68.3198 17.9884 68.3189C17.9872 68.317 17.986 68.3151 17.9848 68.3132C17.9825 68.3095 17.9801 68.3058 17.9778 68.3021C17.9732 68.2948 17.9687 68.2877 17.9643 68.2807C17.9556 68.2668 17.9474 68.2535 17.9397 68.2409C17.9242 68.2156 17.9105 68.1926 17.8982 68.1716C17.874 68.1301 17.8541 68.094 17.8373 68.0616C17.8074 68.004 17.7715 67.9287 17.7353 67.8272C17.7167 67.7751 17.4057 66.9726 17.7104 65.8067L29.3206 68.8404C29.9029 66.6117 29.3587 64.6951 29.0374 63.7946C28.8498 63.2688 28.6452 62.8357 28.4844 62.5263C28.4021 62.3681 28.3263 62.2327 28.2624 62.1232C28.2304 62.0683 28.2009 62.0192 28.1747 61.9764C28.1616 61.9549 28.1492 61.935 28.1377 61.9166C28.1319 61.9074 28.1264 61.8985 28.1211 61.8901C28.1184 61.8859 28.1158 61.8818 28.1132 61.8777C28.1119 61.8757 28.1107 61.8737 28.1094 61.8718C28.1088 61.8708 28.1079 61.8693 28.1075 61.8688C28.1066 61.8674 28.1057 61.8659 23.0489 65.0953ZM23.9597 73.3071C25.3607 73.2031 26.5088 72.7749 27.1494 72.4987C27.505 72.3454 27.8018 72.1958 28.0219 72.0775C28.1334 72.0175 28.2292 71.9634 28.3073 71.918C28.3465 71.8953 28.3816 71.8745 28.4122 71.8561C28.4276 71.8469 28.4419 71.8382 28.4551 71.8302C28.4617 71.8262 28.468 71.8223 28.4741 71.8186C28.4771 71.8167 28.48 71.8149 28.4829 71.8131C28.4844 71.8122 28.4858 71.8113 28.4872 71.8105C28.4879 71.81 28.489 71.8094 28.4893 71.8091C28.4904 71.8085 28.4914 71.8079 25.3334 66.7062C22.1754 61.6045 22.1764 61.6039 22.1774 61.6033C22.1778 61.6031 22.1788 61.6024 22.1795 61.602C22.1808 61.6012 22.1822 61.6003 22.1835 61.5995C22.1862 61.5978 22.1888 61.5962 22.1914 61.5946C22.1966 61.5914 22.2017 61.5883 22.2066 61.5854C22.2164 61.5794 22.2256 61.5738 22.2342 61.5686C22.2514 61.5583 22.2666 61.5494 22.2797 61.5417C22.3058 61.5266 22.3251 61.5159 22.3391 61.5084C22.364 61.495 22.3812 61.4867 22.3988 61.4791C22.4133 61.4729 22.4617 61.4524 22.5461 61.4283C22.6247 61.4059 22.8054 61.3597 23.0712 61.34L23.9597 73.3071ZM25.3334 66.7062C19.9926 69.4405 19.9913 69.4379 19.99 69.4354C19.9896 69.4345 19.9883 69.432 19.9874 69.4303C19.9857 69.4269 19.984 69.4236 19.9823 69.4203C19.979 69.4136 19.9756 69.407 19.9724 69.4006C19.9659 69.3876 19.9596 69.375 19.9536 69.3627C19.9415 69.3382 19.9303 69.3149 19.9198 69.2928C19.899 69.2487 19.8811 69.2087 19.8655 69.1723C19.8349 69.1007 19.8109 69.0372 19.7915 68.9782C19.7575 68.8749 19.7148 68.7171 19.7009 68.4995C19.6863 68.272 19.6997 67.9052 19.8514 67.4747C20.0151 67.0105 20.2758 66.6574 20.5111 66.4442L28.57 75.3354C31.2166 72.9365 31.8179 69.9457 31.6764 67.7338C31.6102 66.6974 31.3898 65.8344 31.1913 65.2306C31.0896 64.9213 30.9866 64.6588 30.8976 64.4506C30.8528 64.3459 30.8107 64.2533 30.7732 64.1737C30.7544 64.1338 30.7366 64.097 30.72 64.0634C30.7118 64.0465 30.7038 64.0305 30.6961 64.0153C30.6923 64.0077 30.6886 64.0002 30.6849 63.993C30.6831 63.9894 30.6813 63.9858 30.6795 63.9823C30.6786 63.9806 30.6772 63.978 30.6768 63.9771C30.6755 63.9745 30.6741 63.9719 25.3334 66.7062ZM20.5112 66.444C21.0465 65.9589 21.485 66.0126 21.5876 66.0287C21.6843 66.0438 21.98 66.1037 22.3762 66.3817C22.7879 66.6706 23.4642 67.3245 23.7648 68.4488L12.1722 71.549C13.3343 75.8945 17.3204 77.5073 19.7339 77.8846C22.4471 78.3089 25.892 77.7625 28.5698 75.3355L20.5112 66.444ZM23.7648 68.4488C23.8815 68.885 23.928 69.3774 23.8743 69.8901C23.8214 70.3954 23.6817 70.8228 23.5264 71.1536C23.3753 71.4753 23.2139 71.6975 23.1084 71.8259C23.003 71.954 22.926 72.0218 22.9093 72.0362C22.8916 72.0515 22.9645 71.9889 23.1906 71.8573C23.4588 71.7012 23.5845 71.6445 24.0123 71.4159L18.3571 60.8321C18.1582 60.9384 16.4452 61.7622 15.0626 62.9572C13.6913 64.1424 11.0004 67.1671 12.1722 71.549L23.7648 68.4488Z" fill="#4B5049" mask="url(#path-5-inside-1_222_239)"/>
        </svg>
      </div>
      <!-- Step - end -->

      <!-- Step - start -->
      <div class="flex flex-col justify-center items-center">
        <div class="mb-2 text-center text-dark-green text-base font-bold font-['Noto Sans JP'] leading-7">
          Step4 返却
        </div>
        <div class="mb-3 text-center text-dark-green text-sm font-['Noto Sans JP'] leading-relaxed">
          ご利用最終日の23:59までにご返送手続きを済ましてください
        </div>
        <svg width="85" height="84" viewBox="0 0 85 84" fill="none" xmlns="http://www.w3.org/2000/svg" >
          <path d="M21.5 69.9951C18.5833 69.9951 16.1042 68.9743 14.0625 66.9326C12.0208 64.8909 11 62.4118 11 59.4951H4V20.9951C4 19.0701 4.68542 17.4222 6.05625 16.0514C7.42708 14.6805 9.075 13.9951 11 13.9951H60V27.9951H70.5L81 41.9951V59.4951H74C74 62.4118 72.9792 64.8909 70.9375 66.9326C68.8958 68.9743 66.4167 69.9951 63.5 69.9951C60.5833 69.9951 58.1042 68.9743 56.0625 66.9326C54.0208 64.8909 53 62.4118 53 59.4951H32C32 62.4118 30.9792 64.8909 28.9375 66.9326C26.8958 68.9743 24.4167 69.9951 21.5 69.9951ZM21.5 62.9951C22.4917 62.9951 23.3229 62.6597 23.9937 61.9889C24.6646 61.318 25 60.4868 25 59.4951C25 58.5034 24.6646 57.6722 23.9937 57.0014C23.3229 56.3305 22.4917 55.9951 21.5 55.9951C20.5083 55.9951 19.6771 56.3305 19.0062 57.0014C18.3354 57.6722 18 58.5034 18 59.4951C18 60.4868 18.3354 61.318 19.0062 61.9889C19.6771 62.6597 20.5083 62.9951 21.5 62.9951ZM11 52.4951H13.8C14.7917 51.4451 15.9292 50.5993 17.2125 49.9576C18.4958 49.3159 19.925 48.9951 21.5 48.9951C23.075 48.9951 24.5042 49.3159 25.7875 49.9576C27.0708 50.5993 28.2083 51.4451 29.2 52.4951H53V20.9951H11V52.4951ZM63.5 62.9951C64.4917 62.9951 65.3229 62.6597 65.9937 61.9889C66.6646 61.318 67 60.4868 67 59.4951C67 58.5034 66.6646 57.6722 65.9937 57.0014C65.3229 56.3305 64.4917 55.9951 63.5 55.9951C62.5083 55.9951 61.6771 56.3305 61.0062 57.0014C60.3354 57.6722 60 58.5034 60 59.4951C60 60.4868 60.3354 61.318 61.0062 61.9889C61.6771 62.6597 62.5083 62.9951 63.5 62.9951ZM60 45.4951H74.875L67 34.9951H60V45.4951Z" fill="#4B5049"/>
        </svg>
      </div>
      <!-- Step - end -->

    </div>
  </div>
</div>

<!-- ご利用手順 - end -->


<!-- よくある質問 - start -->
<div class="justify-center items-center pt-10 pb-8 bg-white">
  <div class="flex-col justify-start items-center flex">
    <div class="text-center text-dark-green text-base md:text-lg font-bold font-['Noto Sans JP'] tracking-wide">
      よくある質問
    </div>
    <div class="w-[80px] md:w-[140px] h-px bg-light-green">
    </div>
    <div class="pt-[4px] text-center text-light-green text-[10px] md:text-[14px] font-['Inter'] tracking-wide">
      FAQ
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 md:gap-4">

    <!-- Question -1- start -->
    <div class="px-8 md:p-2 py-6">
      <details class="open:bg-gray-50 open:ring-1 open:ring-gray-100 open:shadow-md p-6 rounded-lg" open>
        <summary class="text-base text-dark-green font-semibold select-none">
          SaunaLeaves はどんなサービスですか？
          <div class="border-b border-[#948260]">
          </div>
        </summary>
        <div class="mt-2 text-sm leading-6 text-dark-green">
          <p>SaunaLeaves はテントサウナをレンタルにて利用できるサービスです。</p>
          <p>気に入った場合は、弊社定価よりレンタル料金を差し引いた金額で購入することも可能です。</p>
        </div>
      </details>
    </div>
    <!-- Question -1- end -->

    <!-- Question -2- start -->
    <div class="-pt-8 md:p-2 pb-6 px-8">
      <details class="open:bg-gray-50 open:ring-1 open:ring-gray-100 open:shadow-md p-6 rounded-lg" open>
        <summary class="pb-4 text-base text-dark-green font-semibold select-none">
          長期レンタルは可能ですか？
          <div class="border-b border-[#948260]">
          </div>
        </summary>
        <div class="mt-2 text-sm leading-6 text-dark-green">
          <p>可能です。 長期でご利用頂く場合は、お得にご利用いただけますので、是非ご相談ください。</p>
        </div>
      </details>
    </div>
    <!-- Question -2- end -->

    <!-- Question -3- start -->
    <div class="-pt-8 md:px-2 pb-6 px-8">
      <details class="open:bg-gray-50 open:ring-1 open:ring-gray-100 open:shadow-md p-6 rounded-lg" open>
        <summary class="text-base text-dark-green font-semibold select-none">
          どのような支払い方法がありますか？
          <div class="border-b border-[#948260]">
          </div>
        </summary>
        <div class="mt-2 text-sm leading-6 text-dark-green">
          <p>クレジットカード決済のみとなっております。</p>
        </div>
      </details>
    </div>
    <!-- Question -3- end -->

    <!-- Question -4- start -->
    <div class="-pt-8 md:px-2 pb-6 px-8">
      <details class="open:bg-gray-50 open:ring-1 open:ring-gray-100 open:shadow-md p-6 rounded-lg" open>
        <summary class="text-base text-dark-green font-semibold select-none">
          配送日の変更は可能ですか？
          <div class="border-b border-[#948260]">
          </div>
        </summary>
        <div class="mt-2 text-sm leading-6 text-dark-green">
          <p>配送会社依頼前であれば可能ですので、お気軽にご相談くださいませ。</p>
        </div>
      </details>
    </div>
    <!-- Question -4- end -->

    <!-- Question -5- start -->
    <div class="-pt-8 md:px-2 pb-6 px-8">
      <details class="open:bg-gray-50 open:ring-1 open:ring-gray-100 open:shadow-md p-6 rounded-lg" open>
        <summary class="text-base text-dark-green font-semibold select-none">
          商品の組み立てはどのように行いますか？
          <div class="border-b border-[#948260]">
          </div>
        </summary>
        <div class="mt-2 text-sm leading-6 text-dark-green">
          <p>画像付きの組み立て説明書をお付けさせていただきます。</p>
        </div>
      </details>
    </div>
    <!-- Question -5- end -->

    <!-- Question -6- start -->
    <div class="-pt-8 md:px-2 pb-6 px-8">
      <details class="open:bg-gray-50 open:ring-1 open:ring-gray-100 open:shadow-md p-6 rounded-lg" open>
        <summary class="text-base text-dark-green font-semibold select-none">
          どのように返却をすれば良いですか？
          <div class="border-b border-[#948260]">
          </div>
        </summary>
        <div class="mt-2 text-sm leading-6 text-dark-green">
          <p>商品のお届け時に返送用の配送伝票を同梱させていただきます。</p>
          <p>お近くのコンビニ（セブンイレブンやファミリーマートなど）からご返送ください。</p>
        </div>
      </details>
    </div>
    <!-- Question -6- end -->

  </div>

  <!-- 連絡先 - start -->
  <div class="grid grid-cols-1">
    <div class="flex-col items-center justify-center pt-8 px-8">
      <details class="open:white open:ring-1 open:ring-gray-50 open:shadow-md p-6 rounded-lg  border border-[#948260]" close>
        <summary class="text-base text-dark-green font-semibold select-none">
          その他、ご不明点がございましたら、お気軽にお問い合わせください。
        </summary>
        <div class="mt-2 text-sm leading-6 text-dark-green">
          <p>Mail : tentsauna.product@gmail.com</p>
        </div>
      </details>
    </div>
  </div>
  <!-- 連絡先 - end -->
</div>
<!-- ご利用手順 - end -->